@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

body{
    background-color: 250, 253, 244;
    background-image: url('../imagenes/fractal-1405730_1920.jpg');
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 1024px;
    height: 150px;
    margin: auto;
    background-image: url('../imagenes/banner.fw.png');
}
nav{
    width: 1024px;
    height: 40px;
    margin: auto;
    margin-top: 0;
    background-color: #457b9d;
    font-family: Roboto;
}
nav ul {
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 0px;
   padding-top: 10px;
   margin: 0px;
}

nav li{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: orangered;
    text-decoration: none;
}
section{
    background-color: #ffffff;
    width: 984px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

section h2{
    background-color: #a8dadc;
    color: #301d49;
    padding-top : 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 1rem;
    font-family: Roboto;
}

section span{
    font-style: oblique;
    font-weight: bold;
}

section ul{
    font-size: 0.9rem;
}
section li{
    padding-bottom: 5px;
}